html, body {
	height: 100%;
	width: 100%;
	font-family: 'Inter', sans-serif;
	background-color: #0f0c15;
	color: white;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

p {
	margin-bottom: 5px;
}

button {
	width: 395px;
	height: 40px;
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	font-size: 1rem;
	background-color: #b2b2b2;
}

button:active {
	background-color: gray;
}

textarea {
	background-color: #1f182b;
	border: 1px solid #b2b2b2;
	color: #b2b2b2;
}

#timestamp_start, #timestamp_end {
	background-color: #1f182b;
	border: 1px solid #b2b2b2;
	color: #b2b2b2;
}

.title {
	text-align: right;
	margin-right: 20px;
	width: 18.9em;
}

h1 {
	font-size: 3em;
	margin-bottom: 0px;
	line-height: 1.05em;
}

h2 {
	margin-top: 0px;
	font-weight: 300;
	color: #b2b2b2;
	font-size: 0.9em;
	width: calc(100% - 0.95em);
	transition: width 0.79s ease;
}

.form-container {
	padding-left: 20px;
	border-left: 1px solid #b2b2b2;
/* 	overflow-wrap: break-word; */
/* 	width: 40%; */
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1000px) {
	body {
		flex-direction: column;
		justify-content: flex-start;
		overflow: visible;
	}
	.form-container {
		border-top: 1px solid #b2b2b2;
		border-left: none;
		margin-top: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (max-height: 670px) {
	body {
		align-items: flex-start;
		overflow: visible;
	}
}

.top-text {
	text-align: right;
	width: 4em;
	transition: width 0.8s ease;
}

.bottom-text {
	text-align: right;
	width: 100%;
	transition: width 0.8s ease;
}

h1:hover > .top-text {
	width: 100%;
}
h1:hover > .bottom-text {
	width: 2em;
}
h1:hover + h2 {
	width: 5.9em;
}
