* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: #0f0c15;
	color: white;
}

main {
	height: 100%;
	width: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

h2 {
	position: fixed;
	bottom: 5px;
	right: 5px;

	font-weight: 200;
	font-size: 1em;
}


#menu-container {
	height: 100%;
	border-right: 1px solid #b2b2b2;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.tool-container {
	display: flex;
	
	flex-direction: row;
	align-items: center;
	width: min(500px, calc(100vw - 50px));
	height: 100%;
}

.title {
	text-align: right;
	margin-right: 13px;
	
	font-size: 1.3em;
	line-height: 2.1em;
}

.form-container {
	padding-left: 13px;
	padding-bottom: 10px;
	font-weight: 300;
}


textarea {
	background-color: #1f182b;
	border: 1px solid #b2b2b2;
	color: #b2b2b2;
}

input {
	background-color: #1f182b;
	border: 1px solid #b2b2b2;
	color: #b2b2b2;
}


button {
	width: 100%;
	margin-top: 15px;
	height: 40px;
	font-size: 1rem;

	font-weight: bold;
	background-color: #b2b2b2;
}

button:active {
	background-color: gray;
}


#flip-text {
	max-width: 100%;
	transition: max-width 0.8s ease-in-out;
}

#title-horizontal-flip:hover > #flip-text {
	max-width: 0;
}


#color-text {
	transition: color 0.8s ease;
}

#title-color:hover > #color-text {
	color: #9582ff;
}


textarea, input {
	font-family: monospace;
	margin-top: 3px;
}


h1 {
	font-weight: 600;
}

p {
	margin-top: 10px;
}

a {
	text-decoration: none;
	color: white;
}


#mobile-block {
	z-index: 1;
	background-color: #0f0c15;

	width: 100%;
	height: 100%;

	position: absolute;
	
	display: none;
}

@media only screen and (max-width: 760px) {

	#mobile-block {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	h2 {
		display: none;
	}
	
}


#blank {
	display: flex;
}
#horizontal-flip {
	display: none;
}
#color {
	display: none;
}
